@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Discover <a href="~/swagger">Swagger</a>.</p>
        <p>Discover <a href="~/hc">Health Check</a>.</p>
    </div>

